.footer-in {
    width: 100%;
    height: 0.98rem;
    background: pink;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
}
.footer-in ul {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
}
.footer-in ul li {
    text-align: center;
    margin: 0 0.46rem;
}
.footer-in ul li img {
    display: block;
    width: 0.56rem;
    height: 0.56rem;
    margin-top: 0.1rem;
}
.footer-in ul li.active {
    color: #fd271b;
}
.footer-in ul li.active img {
    background: #fd271b;
    border-radius: 50%;
}
.footer-in ul li.active span {
    font-size: 0.18rem;
}
